@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #dde6eb;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
/*
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
*/

h2 {
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 10px; /* Adjust the margin as needed */
  margin-top: 0; /* Added to remove default margin */
}

.logo img {
  height: 40px;
  width: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; /* Align navigation links to the right */
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #666;
}

.book-now {
  background-color: #ff6600;
  color: #fff;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.homeimage {
  width: 500px;
  height: auto;
  
}

.service-img {
  width: 100%;
  height: auto;
}

.barber-name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.barber-desc {
  text-align: center;
}

.service-name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.service-price {
  color: #808080;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.service-desc {
  text-align: center;
}

#location {
  align-items: center;
  justify-content: center;
  flex-direction: center;
}

iframe {
  width: 100%;
  height: 500px;
}

.form-label {
  width: 100%;
}

.booking-title {
  margin-top: 20px;
}

.box {
  height: 20px; /* Set the height of the box */
  background-color: #DCDCDC;
}

.progress-label-active {
  color: #3566E1;
}

